# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.ontoUcmd.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\vnoum\Desktop\Projets Rider\ontoUcmd\.idea\.idea.ontoUcmd\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
